{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
        <h1>Excluir Registro de Motorista</h1>
        <p>Tem certeza que deseja excluir "{{ object }}"?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Sim, excluir</button>
            <a href="{% url 'motorista_list' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}