# Ambiente virtual
venv/
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django e arquivos de migrações
*.sqlite3
db.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd

# Django migrations
*/migrations/*

# Configurações e variáveis de ambiente
.env
*.env

# Arquivos de cache e configurações específicas do sistema
.idea/
.vscode/
.DS_Store
Thumbs.db

# Arquivos estáticos e de mídia gerados
/staticfiles/
/media/
